// Colors
$alt-blue: #0d79a3;       // desktop logo background
$primary-blue: #0489bd;   // desktop nav background
$secondary-blue: #01344f; // mobile nav background
$tertiary-blue: #012a40;  // mobile nav active background
$border-blue: #002337;    // divider nested nav items
$accent-blue: #83cff1;    // border-bottom, inactive text color
