# EditorConfig file to help ensure we are all on the same page
# More information at http://editorconfig.org/

# Base suggestions for all filetypes
# http://robots.thoughtbot.com/no-newline-at-end-of-file
[*]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true

# Ensure linting doesn't blow up if repository contains SVG files
[*.svg]
indent_style = tab
indent_size = tab

# Configuration specifically for Makefiles
[Makefile]
indent_style = tab
indent_size = 8
