.footer {
  background: #000;
}

.box_overlay.open {
  position: absolute;
  z-index: 2001800;
  top: 150px;
  border-radius: 5px;
  padding: 10px;
  background: url("http://consent.truste.com/get?name=trans.png") repeat scroll 0% 0% transparent;
  left: 50%;
  margin-left: -450px;
}

.box_overlay_inner {
  display: none;
}

.box_overlay.open .box_overlay_inner {
  display: block;
}
