#ibm-cloud-mobile-nav {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #333;
  z-index: 100;
  @include transition(all ease-out 0.4s);
  background: $secondary-blue;

  .mobile-nav-toggle {
    display: block;
    padding: 20px;
    width: 20px;
  }

  .mobile-link {
    border-top: 1px solid #004a71;
  }

  .mobile-link:first-child {
    margin-bottom: 20px;
  }

  .mobile-link > a {
    font-size: 1rem;
  }

  .mobile-link.active {
    background: $tertiary-blue;
    border-top: 1px solid $secondary-blue;
  }

  .mobile-link.active a {
    border-bottom: 1px solid $secondary-blue;
  }

  .mobile-link.active > a {
    color: #fff;
  }

  .mobile-link.active ul {
    display: block;
  }

  .mobile-link.active img {
    position: relative;
    top: -14px;
    @include transition(all ease-in-out 0.2s);
  }

  .mobile-link ul {
    display: none;
  }

  .chevron {
    float: right;
    width: 20px;
    height: 12px;
    overflow: hidden;
    margin-top: 5px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li a {
    border-bottom: 1px solid #004a71;
    display: block;
    padding: 8px 20px;
  }

  a {
    color: $accent-blue;
    font-family: Helvetica Neue, Helvetica, sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 0.5px;
  }

  img {
    width: 100%;
  }
}
