
$fontPath : "//1.www.s81c.com/common/fonts";
@font-face {
  font-family: 'LubalinGraphStdBookIBM';
  src: url('#{$fontPath}/lubalingraphstd-book-webfont.eot');
  src: url('#{$fontPath}/lubalingraphstd-book-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$fontPath}/lubalingraphstd-book-webfont.woff') format('woff'),
  url('#{$fontPath}/lubalingraphstd-book-webfont.ttf') format('truetype'),
  url('#{$fontPath}/lubalingraphstd-book-webfont.svg#LubalinGraphStdBookIBM') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LubalinDemiIBM';
  src: url('#{$fontPath}/lubalinforibm-demi-webfont.eot'); /* IE9 Compat Modes */
  src: url('#{$fontPath}/lubalinforibm-demi-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$fontPath}/lubalinforibm-demi-webfont.woff') format('woff'), /* Modern Browsers */
  url('#{$fontPath}/lubalinforibm-demi-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$fontPath}/lubalinforibm-demi-webfont.svg#LubalinDemiIBM') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'iconsIBM';
  src: url('#{$fontPath}/icons-ibm-v1_2.eot');
  src: url('#{$fontPath}/icons-ibm-v1_2.eot?#iefix') format('embedded-opentype'),
  url('#{$fontPath}/icons-ibm-v1_2.woff') format('woff'),
  url('#{$fontPath}/icons-ibm-v1_2.ttf') format('truetype'),
  url('#{$fontPath}/icons-ibm-v1_2.svg#iconsIBM') format('svg');
  font-weight: normal;
  font-style: normal;
}
