#ibm-cloud-nav {
  $desktop-nav-height: 50px;
  $link-color: $accent-blue;
  $link-hover-color: #fff;
  $link-hover-background: $accent-blue;

  width: 100%;
  background-color: $primary-blue;
  float: none;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;

  .desktop-links {
    max-width: 960px;
    margin: 0;
    height: $desktop-nav-height;
    overflow: hidden;
  }

  .desktop-link {
    display: none;
    height: $desktop-nav-height;
    line-height: $desktop-nav-height;
    margin: 0 10px 0 0;

    > a {
      height: $desktop-nav-height;
      line-height: $desktop-nav-height;
      position: relative;
      @include box-sizing(border-box);
    }

    @include break-above(desktop) {
      display: inline-block;
    }

    &.cloud-logo-container {
      display: block;
      margin: 0;
      h1 {
        font-family: Helvetica Neue, Helvetica, sans-serif;
        font-size: 1.25rem;
        margin: 0;
        font-weight: normal;
        font-size: 24px;
        a {
          color: #fff;
        }
        span {
//          font-weight: normal;
          font-family: 'LubalinDemiIBM';
//          font-family: "HelveticaNeue-Bold", "HelvBoldIBM", Arial, sans-serif;

        }
      }
    }

    .active {
      border-bottom: 4px solid $accent-blue;
      color: #fff;
      margin: 0 0 0 20px;
      padding: 0 20px 0 0;
    }
  }

  .desktop-link > a:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 23px;
    right: 0;
    border-color: $accent-blue transparent transparent;
    border-width: 5px;
    border-style: solid;
  }

  // exceptions
  .desktop-link a#masthead-link-marketplace,
  .desktop-link a#masthead-link-partners{
    padding: 0 0 0 20px;
    &:before {
      display: none;
    }
  }
  .desktop-link a#masthead-link-marketplace:before,
  .desktop-link a#masthead-link-partners:before{
    display: none;
  }

  .desktop-link:hover > a:before {
    top: 18px;
    border-width: 5px;
    border-color: transparent transparent #fff;
  }

  .desktop-link,
  .ibm-logo-container {
    height: $desktop-nav-height;
  }

  .ibm-logo-container {
    background: $alt-blue;
    float: left;
    width: 60px;
    margin-right: 5px;

    @include break-above(desktop) {
//      background: $alt-blue;
      padding: 0;
      width: 60px;
      display: block;
    }

//    a {
//      display: block;
//      display: none;
      //      width: 90%;
//    }

    .ibm-logo {
//      display: none;
      @include break-above(mobile) {
        display: block;
        position: absolute;
        width: 56px;
        background: url('//1.www.s81c.com/common/v17e/i/t/ibm-logo.png') no-repeat scroll 0px -99px #0D79A3;
        height: 30px;
        top: 11px;
        text-indent: -999em;
        padding: 0px;
        &:hover {
          background-position: 0px -129px;
        }
      }
    }

    img {
      width: 85%;
      box-sizing: container-box;
    }
  }

  .ibm-cloud-logo {
    width: 120px;
    margin-bottom: -4px;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
    float: left;
    line-height: $desktop-nav-height / 1.666;
    text-align: left;
  }

  li a {
    color: $link-color;
    text-decoration: none;
    display: block;
    padding: 0 20px;
    position: relative;
  }

  li:hover {
    background: $primary-blue;
  }

  li a:hover {
    color: #fff;
  }

  li ul {
    border-left: 1px solid $border-blue;
    border-right: 1px solid $border-blue;
    position: absolute;
    display: none;
    padding: 20px 0 30px;
    background-color: $secondary-blue;
//    overflow: hidden;
    &:before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: -16px;
        left: 17px;
//        border-color: $accent-blue transparent transparent;
//        border-width: 5px;
        border-style: solid;
      border-width: 8px;
      border-color: transparent transparent $secondary-blue;
    }
  }

  li:hover ul {
    display: block;
  }

  li li {
    border-bottom: 1px solid $border-blue;
    clear: both;
    float: none;
    display: block;
    width: 100%;
    padding: 6px 0;
  }
}
