#ibm-cloud-mobile-nav {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #333;
  overflow: scroll;
  z-index: 100;
  background: $secondary-blue;
  @include transition(all ease-out 0.4s);

  .mobile-nav-toggle {
    display: block;
    margin: 20px;
    padding: 0;
    width: 20px;
  }

  .test-class{
    display: none;
  }

  .mobile-link:first-child {
    margin-bottom: 20px;
  }

  .mobile-link > a {
    font-size: 1rem;
  }

  .mobile-link.local {
    border-top: 1px solid #004a71;
    ul li a{
      margin-left: 0.5em;
    }
  }

  .mobile-link.local a {
    border-bottom: 1px solid #004a71;

  }

  .mobile-link.global {
    background: $tertiary-blue;

    a {
      border-bottom: 1px solid $secondary-blue;
    }

    ul li a{
      margin-left: 0.5em;
    }
  }

  .nested-mobile-link.active {
    border-bottom: 1px solid #004a71;
    ul li a{
      margin-left: 1em;
    }
  }

  .mobile-link.active > a {
    color: #fff;
  }

  .nested-mobile-link.active > a {
    color: #fff;
  }

  .mobile-link a:hover {
    background: $primary-blue;
    color: #fff;
  }

  .mobile-link.active ul {
    display: block;
  }

  .mobile-link.active .chevron {
    position: relative;
    top: -14px;
    @include transition(all ease-in-out 0.2s);
  }

  .mobile-link.active .nested-mobile-link .chevron-wrapper .chevron {
    top: 0;
  }

  .mobile-link.active .nested-mobile-link.active .chevron-wrapper .chevron {
    top: -14px;
  }

  .mobile-link ul {
    display: none;
  }

  .nested-mobile-link a {
    border: 0;
  }

  .nested-mobile-link.active a {
    border-left: 3px solid $accent-blue;
  }

  .nested-mobile-link li {
    display: none;
  }

  .nested-mobile-link ul a {
    border: 0 !important;
  }

  .nested-mobile-link.active li {
    display: block;
  }

  .chevron-wrapper {
    float: right;
    width: 20px;
    height: 12px;
    overflow: hidden;
    margin-top: 5px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li a {
    display: block;
    padding: 8px 20px;
  }

  a {
    color: $accent-blue;
    font-family: Helvetica Neue, Helvetica, sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 0.5px;
  }

  img {
    width: 20px;
  }


}
