body.mobile-nav-open {
  #ibm-cloud-mobile-nav {
    left: 0;
  }
}

#ibm-cloud-nav {
  .desktop {
    display: none;

    @include break-above(desktop) {
      display: block;
    }
  }

  .mobile {
    @include break-above(desktop) {
      display: none;
    }
  }
}

#ibm-cloud-cookie-overlay {
  &.open {
    @include break-above(small) {
	  left: 10px !important; margin-left: 0px !important; right: 10px !important; min-width: 255px !important;
	}
  }
}